@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroud: #141414;
  --text-color: #fff;
  --primary-color: #63ff69;
  --secondary-colour: #000;
  --alpha-color: rgba(0, 0, 0, 0.5);
  --shadow: 0 15px 40px var(--alpha-color);
}
html {
  background: var(--backgroud);
  display: flex;
  justify-content: center;
}
body {
  width: 100%;
  height: 100vh;
  max-width: 375px;
  position: relative;
  background: var(--backgroud);
  font-family: "roboto" sans-serif;
  color: var(--text-color);
}
::-webkit-scrollbar {
  display: none;
}
/* Home section */
.home-section {
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-bottom: 100px;
  overflow-y: auto;
}
.carousel {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: var(--shadow);
  position: relative;
}
.carousel img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* opacity: 0; */
  /* transition: 10s; */
}
.carousel img .active {
  opacity: 1;
}
.heading {
  margin: 30 0 10px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 30px;
}
/* Playlist card */
.playlist-group {
  position: relative;
  width: 100%;
  min-height: 200px;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.playlist-card {
  flex: 0 0 auto;
  max-width: 150px;
  height: 100%;
  margin-right: 20px;
}
.playlist-card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
}
.playlist-card-name {
  width: 100%;
  text-align: justify;
  font-size: 20px;
  text-transform: capitalize;
  padding: 5px;
}
/* Player section */
.music-player-section {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--alpha-color);
  backdrop-filter: blur(50px);
  transition: 1s;
}
.music-seek-bar {
  --webkit-appearance: none;
  width: 100%;
  position: absolute;
  top: -4px;
  height: 8px;
  background: var(--secondary-colour);
  overflow: hidden;
}
.music-seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 5px;
  background: var(--primary-color);
  cursor: pointer;
  box-shadow: -400px 0 0 400px var(--primary-color);
}
.current-song-name {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
  text-transform: capitalize;
}
.controls {
  position: relative;
  width: 80px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 30px;
}
.controls span{
  display: none;
  opacity: 0;
  transition: 1s;

}
.music-player-section .active .controls{
  justify-content: space-between;
}
.music-player-section .active .controls span{
  font-size: 25px;
  display: block;
  opacity: 0.5;
}
.music-player-section .active .controls span .active{
  color: var(--primary-color);
  opacity: 1;

}
.controls .main i{
  margin: 0 5px;
  display: none;

}
.controls .main i .active{
  display: inline;
}
